@font-face {
  font-family: 'BMDoHyeon';
  font-weight: normal; 
  font-style: normal; 
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMDoHyeon.woff2) format('woff2');
  font-display: swap;
}

* {
  font-family: 'BMDoHyeon';
}

.menutab {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.block {
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.footer-content {
  padding: 30px 50px;
  color: #808080;
  display: inline-flex;
  border-top: 1px solid #ccc;
}

.search-button {
  margin-left: 20px;
  margin: auto;
  margin-top: 20px;
}

.id-input,
.pw-input {
  height: 40px;
  width: 200px;
  border: solid 2px grey;
  border-radius: 12px;
  margin: auto;
}

.student-menu {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  
}

.booth-menu {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.student-menu .search-button {
  margin-left: -20%;
}